RESEND_API_KEY=
INQUIRY_NOTIFY_FROM=no-reply@mediasset.kr
INQUIRY_NOTIFY_TO=mediasset1@gmail.com

GOOGLE_SHEET_ID=
GOOGLE_SHEET_RANGE=Inquiries!A:M
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
